.background-blur-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/background2.jpg');
  background-size: cover;
  background-position: center center;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  transform: scale(1.02);
}

.bucket {
  position: fixed;
  width: 150px;
  height: 180px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 1px solid #ccc;
  transform: perspective(300px) rotateX(5deg) translate(-30%, 70%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  z-index: 5;
}

/* Le niveau d'eau */
.water {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  // background-image: url('../../../public/eaux.jpg');
  background: linear-gradient(to top, rgba(173, 216, 230, 0.8), rgba(135, 206, 250, 0.6));
  border-color: red($color: #000000);
}

// /* L'anneau supérieur */
.bucket::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -5px;
  right: -5px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50% / 30px; /* Forme elliptique */
  border: 1px solid #aaa;
  z-index: 2;
}

/* Base des poignées (juste pour le style du seau de la photo) */
.handle-base {
  position: absolute;
  top: 5px;
  width: 5px;
  height: 10px;
  background-color: #999;
  border-radius: 2px;
  z-index: 3;
}
.handle-base.left {
  left: 5px;
}
.handle-base.right {
  right: 5px;
}



.page-wrapper,
.content-layer,
.video-animation-container {
  width: 100%;
  height: 100vh; /* hauteur = taille totale de l'écran */
  margin: 0;
  padding: 0;
}

.video-animation-container video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* La vidéo remplit l'écran sans déformation */
  position: absolute;
  top: 0;
  left: 0;
}
.premierLanc{
  position: absolute;
  top: 10%;
  left: 10%;
}

.percentage{
  position: absolute;
  left: 25%;
  top: 10%;
  z-index: 10;
  font-size: 300;
  color: aliceblue;
}
